extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container
		.main-inner
			.main-inner-2
				.article-wrap
					.article
						h1 Обратиться в отдел клиентского сервиса
						.form-apply


				footer.article-footer
					.artf-flex
						.artf-left
							.artf-copyright
								.artf-copyright__l © 2020 Gettzap
								.artf-copyright__r Все права защищены
						.artf-right
							.artf-marketplaces
								a.artf-marketplace(href="")
									img(src="img/google-play.svg", alt="")
								a.artf-marketplace(href="")
									img(src="img/appstore.svg", alt="")
block footer