extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container
		.main-inner
			.main-inner-2
				.article-wrap
					.article
						h1 О Рекламной сети Яндекса и внешних сетях
						h2 Ставь лайк, если ты тоже лiдер нацii
						p Рекламная сеть Яндекса (РСЯ) — это система размещения рекламы на сервисах Яндекса и площадках партнеров. РСЯ открывает рекламодателям Директа доступ к аудитории более чем 40 000 площадок: сайтов, мобильных приложений, приложений Smart TV, а также поверхностей операторов цифровой наружной рекламы. Партнеры Рекламной сети получают доход за размещение рекламы, а рекламодатели — приток трафика и клиентов.
						h2 Пример маркированного списка
						ul.ul-chm
							li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							li Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							li Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						h2 Другой маркированный список
						ul
							li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
							li But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete
							li No one rejects, dislikes, or avoids pleasure itself, because it is pleasure
						h2 Нумерованный список
						ol
							li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
							li But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete
							li No one rejects, dislikes, or avoids pleasure itself, because it is pleasure
						h3 Другой подзаголовок
						p
							i At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.

						img(src="images/image-1.jpg", alt="")

					.article-poll__wrap
						.article-poll__name Была ли статья полезна?
						.article-poll
							input.article-poll-inp#poll-12414-yes(type="radio", name="poll-12414" value="yes")
							label.article-poll-item.article-poll-item--y(for="poll-12414-yes")
								span Да

							input.article-poll-inp#poll-12414-no(type="radio", name="poll-12414" value="no")
							label.article-poll-item.article-poll-item--n(for="poll-12414-no")
								span Нет

				footer.article-footer
					.artf-flex
						.artf-left
							.artf-copyright
								.artf-copyright__l © 2020 Gettzap
								.artf-copyright__r Все права защищены
						.artf-right
							.artf-marketplaces
								a.artf-marketplace(href="")
									img(src="img/google-play.svg", alt="")
								a.artf-marketplace(href="")
									img(src="img/appstore.svg", alt="")
block footer