header.site-header
	.container.site-header-container
		.sh-burger
			span

		a.sh-logo(href="")
			img(src="img/logo.jpg", alt="")

		.sh-search-wrap
			form.search-wrap
				.search
					input.search-inp(type="text")
					.search-btn.js-search-btn

.site-menu-wrap
	.container.container-site-menu
		.site-menu-wrap__2
			.site-menu
				.sm-block
					.sm-block__title Для покупателей
					.sm-block-inner
						.site-menu-item-wrap
							a.site-menu-item(href="") Что такое Gettzap
						.site-menu-item-wrap
							.site-menu-item.site-menu-item--has-l2 Регистрация/авторизация
							.site-menu-l2
								a.site-menu-l2__item(href="") Заказы
								a.site-menu-l2__item(href="") Избранное
								a.site-menu-l2__item(href="") Отзывы
								a.site-menu-l2__item(href="") Настройки

						.site-menu-item-wrap
							.site-menu-item.site-menu-item--has-l2 Оформление заказа
							.site-menu-l2
								a.site-menu-l2__item(href="") Заказы
								a.site-menu-l2__item(href="") Избранное
								a.site-menu-l2__item(href="") Отзывы
								a.site-menu-l2__item(href="") Настройки

						.site-menu-item-wrap
							.site-menu-item.site-menu-item--has-l2 Аккаунт пользователя
							.site-menu-l2
								a.site-menu-l2__item(href="") Заказы
								a.site-menu-l2__item(href="") Избранное
								a.site-menu-l2__item(href="") Отзывы
								a.site-menu-l2__item(href="") Настройки

				.sm-block
					.sm-block__title Для продавцов
					.sm-block-inner
						.site-menu-item-wrap
							a.site-menu-item(href="") Как добавить магазин  на Gettzap
						.site-menu-item-wrap
							.site-menu-item.site-menu-item--has-l2 Панель управления
							.site-menu-l2
								a.site-menu-l2__item(href="") Заказы
								a.site-menu-l2__item(href="") Избранное
								a.site-menu-l2__item(href="") Отзывы
								a.site-menu-l2__item(href="") Настройки

						.site-menu-item-wrap
							.site-menu-item.site-menu-item--has-l2 Профиль компании
							.site-menu-l2
								a.site-menu-l2__item(href="") Заказы
								a.site-menu-l2__item(href="") Избранное
								a.site-menu-l2__item(href="") Отзывы
								a.site-menu-l2__item(href="") Настройки

						.site-menu-item-wrap
							a.site-menu-item(href="") Паспорт продавца
						.site-menu-item-wrap
							a.site-menu-item(href="") Модуль 1С Gettzap
						.site-menu-item-wrap
							a.site-menu-item(href="") Принципы поиска
						.site-menu-item-wrap
							a.site-menu-item(href="") Стоимость размещения
						.site-menu-item-wrap
							a.site-menu-item(href="") Правовые документы